@import url('../../css/global.css');

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 120px;

    font-weight: var(--font-weight-500);
    font-size: var(--font-size-20);
    line-height: var(--line-height-23);

    color: var(--dark-gray);

    background-color: var(--background-header-color);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px 120px 164px 120px;
}

.main__dragons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 46px;

    margin-bottom: 80px;
}

.main__add-button {
    width: 200px;
    height: 50px;
}